.alert-dialog {
  background-color: #009dae;
  border-radius: 0.5rem;
  color: #ffe652;
  padding: 1rem;
}

.alert-dialog .alert-btn {
  background-color: #71dfe7;
  border: 0px;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.alert-dialog .alert-btn:hover {
  background-color: #ffe652;
}
